{% extends 'admin/layout-empty.html.twig' %}

{% block title %}Nouvel évènement pour {{event.canyon.name}} {% endblock %}

{% block content %}
<h1>Nouvel évènement</h1>

{{ include('admin/event/_form.html.twig') }}

{% endblock %}