{% extends 'layout.html.twig' %}

{% block title %}Connexion à votre compte{% endblock %}

{% block content %}

<form method="post">
    <div class="container">
        <div class="row justify-content-center">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <div class="row justify-content-center mb-3">
            <h1>Connexion</h1>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <label for="inputEmail">Votre e-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    required autofocus>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <label for="inputPassword">Votre mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div>
                <input class="nav-button mb-2" type="submit" value="Connexion"/> <br/>
                    <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}