<h1>Confirmez votre e-mail!</h1>

<p>
    Vous venez de vous créer un compte sur notre plateforme et nous vous en remercions.
</p>
<p>
    Une dernière étape est cependant nécessaire pour la validation de la création de votre compte.
</p>
<p>
    Pouvez-vous cliquer sur le lien suivant s'il vous plaît à fin de nous assurer que cette adresse e-mail vous appartient.
</p>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
</p>
<p>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci pour votre confiance!
</p>
