<h1>Réinitialisation de mot de passe</h1>
 
<p>Vous avez reçu cet e-mail car vous avez demandé à le réinitialiser.</p>
<p>Pour ce faire, cliquez sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A très vite!</p>
