{% extends 'admin/layout-prices.html.twig' %}

{% block title %}Modification des tarifs de {{ price.canyon.name}}{% endblock %}

{% block content %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


<h1 class="mb-5">Modification des tarifs de {{ price.canyon.name}}</h1>
<div class="row justify-content-center">
{{ include('admin/price/_form.html.twig', {'button_label': 'Actualiser'}) }}
</div>
{% endblock %}