<!-- Creation du bouton qui genere un nouveau formulaire -->

{% block _canyon_pictures_widget %}
    <ul id="canyon-pictures-fields-list"
        data-prototype="{{ form_widget(prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ value|length }}"
    >
        {% for key,canyonPictureForm in form.children %}
            {{ form_widget(canyonPictureForm) }}

        {% endfor %}
    </ul>

    <button type="button" class="add-another-collection-widget" data-list-selector="#canyon-pictures-fields-list">Ajouter un image</button>
{% endblock %}