{% extends 'admin/layout.html.twig' %}

{% block title %}Modification de {{ canyon.name }}{% endblock %}

{% block content %}
    <h1> Modification de {{ canyon.name }}</h1>
<div class="row">
    <div class="middle col-md-8">
    {{ include('admin/canyon/_form.html.twig', {'button_label': 'Actualiser'}) }}
</div>
</div>

{% endblock %}
