{% extends 'admin/layout.html.twig' %}

{% block title %}Modification de {{ canyon.name }}{% endblock %}

{% block content %}
    <h1 class="mb-5"> Modification de {{ canyon.name }}</h1>
<div class="row justify-content-center">
    <div class="col-md-8">
    {{ include('admin/canyon/_form.html.twig', {'button_label': 'Actualiser'}) }}
</div>
</div>

{% endblock %}
