{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau Canyon{% endblock %}

{% block content %}
    <h1>Créer un nouveau canyon</h1>

    {{ include('admin/canyon/_form.html.twig') }}

    <a href="{{ path('admin_canyon_index') }}">Retour à la liste</a>
{% endblock %}
