<nav role="navigation" id="navigation">
  <div id="menuToggle">
    <input type="checkbox" />

    <span class="span-ham"></span>
    <span class="span-ham"></span>
    <span class="span-ham"></span>

    <ul id="menu">
      <a href="#work-nav">
        <li>Projets</li>
      </a>
      <a href="#skills">
        <li>Compétences</li>
      </a>
      <a href="#about">
        <li>A Propos</li>
      </a>
    </ul>
    
  </div>
</nav>