{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block content %}
<div>

    <h1>conditions générales de vente</h1>

    <h3>RESERVATION</h3>
    <p>
        Après la réception du devis envoyé par « h2o canyon », retourner le devis signé accompagné d’un chèque de 30% du
        tarif de l’activité (à l’ordre de Simon Walter).La réservation n’est définitive qu’une fois ces conditions
        remplies.
    </p>
    <p>
        Le poids, la taille et la pointure de chaque participant à l’activité devront être communiqués au plus tôt.
    </p>
    <h3>ANNULATION</h3>
    <p>
        Une réservation peut être modifiée dans la limite de nos disponibilités. Vous pouvez annuler une activité 10
        jours à l’avance. Au-delà, si la modification n’est pas possible, ou si vous souhaitez annuler votre activité,
        votre acompte sera encaissé. Toute annulation moins de 24 h avant la date prévue pour l’activité entraine la
        facturation de l’activité en totalité.
    </p>
    <h3>METEO</h3>
    <p>
        Les activités Canyoning dépendent des conditions climatiques. Si les conditions de sécurité ne peuvent être
        assurées (orage, niveau d’eau important), « h2o canyon » se réserve le droit de modifier le lieu, le jour du
        rendez vous ou d’annuler l’activité. Vous serez dans se cas intégralement remboursés.
    </p>
    <h3>ASSURANCE ET MATERIEL EPI</h3>
    <p>
        Les guides H2o canyon possède une assurance « responsabilité civile professionnelle » MMA
    </p>
    <p>
        Il est conseillé à chaque pratiquant d’avoir une « assurance individuelle accident »
    </p>
    <p>
        Le matériel mise à disposition est adapté et régulièrement contrôlé .Norme EPI (équipement, de protection
        individuelle).
    </p>
    <h3>CONDITION PHYSIQUE</h3>
    <p>
        Chaque pratiquant doit arriver avec un minimum de forme physique. Tout traitement médical et problème de santé
        doit être signalé lors de l’inscription.
    </p>

</div>


{% endblock %}