{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | L'équipe{% endblock %}

{% block content %}
<section>
    <div class="row d-flex justify-content-center font-weight-bold">
        <h1>L'Équipe</h1>
    </div>
    <div class="row justify-content-around">
        <h2 class="mb-5">Simon Walter</h2>
    </div>
    <img src="{{ asset('assets/images/guides/simon_02.jpg') }}" class="cover img-fluid" alt="photo du guide Simon Walter" />
</section>

<div>
   
    <h3 class="text-center my-5">Guide de Canyoning Diplômé d’état</h3>
    <div class="top">
        <p>Guide depuis plus de dix ans, Simon partagera avec vous sa passion en toute convivialité !</p>

        <p>Il vous fera découvrir le Jura d’un autre point de vue, alliant paysages magnifiques et sensations fortes
            !</p>

        <p>Cela en toute sécurité, voici ses diplômes :
            <div>
                <ul>
                    <li>
                        <p>
                            DEJEPS :
                            Diplôme d’Etat de la Jeunesse
                            de l’Education Populaire
                            et du Sport
                            (perfectionnement sportif canyonisme)
                        </p>
                    </li>
                    <li>
                        <p>
                            BEES :
                            Brevet d’Etat d’Educateur Sportif
                            (accompagnateur en montagne)
                        </p>
                    </li>
                    <li>
                        <p>
                            BNSSA :
                            Brevet National de Secours et de Sauvetage Aquatique
                        </p>
                    </li>
                    <li>
                        BNPS :
                        Brevet National de Pisteur Secouriste
                    </li>
                </ul>
            </div>
        </p>
    </div>
</div>
</div>
<!-- </div> -->

{% endblock %}