{% extends 'base.html.twig' %}

{% block title %}H2O Canyon | Informations{% endblock %}

{% block content %}

<h1>Informations</h1>
<h3 class="mb-5">Nos services</h3>

<section>
    <p>D’avril à octobre, H2o canyon vous invite à découvrir les plus beaux canyons du Jura.</p>

    <p> Le Jura possède un terrain de jeu très varié qui permet à chacun de se faire plaisir selon ses motivations et
        son niveau physique.</p>

    <p>Des canyons familliaux aquatiques et ludiques avec sauts, toboggans jusqu’aux grandes verticales, et des rappels
        de
        plus de 70m. Le canyoning dans le Jura saura régaler tous les intéressés, du débutant au sportif confirmé.</p>

    <p>« H2o canyon » personnalise les sorties en fonction de vos envies et de votre niveau de pratique: demi-journées,
        journées ou séjours à partir de 7 ans, aussi bien pour des particuliers (familles, amis), des comités
        d’entreprise, des centres de vacances, ou des évènements (enterrements de vie de garçon / jeune fille, etc …)
    </p>

    <p>Afin d’assurer un certain confort à l’activité, limiter les temps d’attentes et garantir des activités en toute
        sécurité, nous limitons les groupes à 12 personnes pour les randonnées aquatiques, et 10 personnes pour les
        canyons du Jura.</p>s

    <p>Week-end et semaine canyoning dans le Jura, les Alpes et la Sierra de Guara (Pyrénées Espagnoles) <br />
        A partir de 140 euros par personne <br />
        Veuillez nous contacter.</p>

    <p>Pour les enterrements de vie de garçon / fille : gratuité pour le/la futur marié(é) (à partir de 8 personnes)</p>

    <p>Nous proposons aussi des bons cadeaux pour des journées ou demi journées canyoning dans le Jura. <br />
        Veuillez également nous contacter.</p>
</section>
<section>
    <h3 class="my-5">Tarifs</h3>
    <p>Les tarifs comprennent :</p>
    <ul>
        <li>L’encadrement de la descente</li>
        <li>Le prêt du matériel : </li>
        <ul>
            <li>Combinaison</li>
            <li>Chaussons néoprène</li>
            <li>Matériel de sécurité nécessaire à l’activité</li>
        </ul>
        <li>Des photos du canyon</li>
    </ul>

    <p>Les tarifs ne comprennent pas :</p>
    <ul>
        <li>Le transport jusqu’au lieu de pratique</li>
    </ul>
</section>
<section>
    <h3 class="my-5">A prendre avec vous</h3>
    <ul>
        <li>Des baskets ou des chaussures de randonnées fermées par lacets</li>

        <li>Un maillot de bain, une serviette et des vêtements de rechange</li>

        <li>Pour les personnes possédant des lunettes, n’oubliez pas un cordon pour les attacher</li>

        <li>Un élastique pour attacher les cheveux</li>

        <li>Repas froid pour les canyons journée</li>
    </ul>
</section>

{% endblock %}