{% extends 'base.html.twig' %}

{% block title %}H2O Canyon{% endblock %}

{% block content %}

<div>
    <h1>mentions légales</h1>

    <h3>Informations légales</h3>

    <p>Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l’Économie Numérique,
        nous
        vous informons que :
    </p>
    <p>
        Le présent site web est édité par :
    </p>
    <p>
        H2O Canyon <br/>
        Simon Walter <br/>
        40 c rue de velotte <br/>
        25000 Besançon <br/>
    </p>
    <p>
        Directeur de la publication <br/>
        Simon Walter
    </p>
    <p>
        Hébergeur <br/>
        SAS OVH <br/>
        SARL au capital de 10 000 000 € – R.C.S Roubaix – Tourcoing 424 761 419 00045 <br/>
        TVA : FR 22 424 761 419 <br/>
        2 rue Kellermann – BP 80157 <br/>
        59053 Roubaix Cedex 1 <br/>
        France
    </p>
    <h3>Crédits</h3>
    <p>
        Création du site internet <br/>
        Antoine Cerqueus <br/>
        antoine.cerqueus@gmail.com <br/>
        06 89 29 31 47
    </p>
    <h3>Responsabilité face aux liens vers d’autres sites</h3>
    <p>
        Le site h2o-canyon.fr propose de nombreux liens vers d’autres sites, essentiellement des sites officiels
        (institutions, organismes publics …), mais aussi vers des sites, français ou étrangers, d’associations, ou
        d’entreprises partenaires sur des opérations ponctuelles.
    </p>
    <p>
        Chaque fois, il est systématiquement précisé vers quel site nous vous proposons d’aller. Ces pages, dont les
        adresses sont régulièrement vérifiées, ne font pas partie du site h2o-canyon.fr : elles n’engagent pas la
        responsabilité de la rédaction du site qui ne peut être tenue pour responsable des contenus vers lesquels ces
        liens
        pointent. Ils ne visent qu’à permettre à l’internaute d’accéder plus facilement à d’autres ressources
        documentaires
        sur le sujet consulté.
    </p>
    <h3>Cookies, statistiques et données personnelles</h3>
    <p>
        Qu’est-ce qu’un cookie ?
    </p>
    <p>
        A l’occasion de la consultation d’un site internet, un éditeur de site internet peut, sous réserve de vos choix,
        déposer sur votre ordinateur, grâce à votre logiciel de navigation, un fichier texte (un cookie). Il va lui
        permettre pendant la durée d’existence du cookie, d’identifier votre ordinateur lors de vos prochaines visites.
        Des
        sociétés tierces peuvent également, sous réserve de vos choix, déposer des cookies sur votre ordinateur.
    </p>
    <p>
        Les cookies sur ce site
    </p>
    <p>
        Nous émettons des cookies afin d’établir des statistiques de fréquentation (nombre de visites, de pages vues …)
        grâce aux services Google Analytics afin de suivre et d’améliorer la qualité de notre site. Nous avons fixé une
        durée de validité de 12 mois pour ces cookies. Nous vous informons également que sur ce site internet, un code a
        été
        ajouté afin de garantir un suivi anonyme des adresses IP (l’utilisation de l’adresse IP pour géolocaliser
        l’usager
        ne peut permettre de déterminer que sa ville ).
        Nous utilisons également des cookies dits “techniques” pour améliorer votre expérience sur ce site.
    </p>
    <p>
        Compléments d’informations concernant les statistiques Google Analytics :
    </p>
    <p>
        Ce site utilise Google Analytics, un service d’analyse de site internet fourni par Google Inc. (« Google »).
        Google
        Analytics utilise des cookies , qui sont des fichiers texte placés sur votre ordinateur, pour aider le site
        internet à analyser l’utilisation du site par ses utilisateurs. Les données générées par les cookies concernant
        votre
        utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs
        situés
        aux États-Unis. Google respecte les normes de protection des données du programme du ministère américain du
        Commerce
        ( « Safe Harbor Principles »). Google utilisera cette information dans le but d’évaluer votre utilisation du
        site,
        de compiler des rapports sur l’activité du site à destination de son éditeur et de fournir d’autres services
        relatifs à l’activité du site et à l’utilisation d’Internet. Google est susceptible de communiquer ces données à
        des
        tiers en cas d’obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris
        notamment l’éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par
        Google.
    </p>
    <p>
        Vos choix pour les cookies
    </p>
    <p>
        L’enregistrement d’un cookie dans votre ordinateur est de votre volonté. Si vous ne souhaitez pas accepter les
        cookies que nous émettons ou ceux émis par des tiers sur ce site, vous avez notamment, la possibilité pour cela
        de
        paramétrer votre navigateur :
    </p>
    <p>
        Pour Internet Explorer <br/>
        Pour Safari <br/>
        Pour Chrome <br/>
        Pour Firefox <br/>
        Pour Opera
    </p>
    <p>
        Données personnelles
    </p>
    <p>
        Les informations recueillies à partir des formulaires de ce site font l’objet d’un traitement informatique
        destiné à
        H2O Canyon, pour la ou les finalité(s) suivante(s) : répondre à vos besoins / transmettre des informations .
        Seul
        H2O Canyon est destinataire des données.
    </p>
    <p>
        Que peut contenir le formulaire de contact ?
    </p>
    <p>
        Des informations à caractère personnel telles que : adresse mail, nom, prénom, taille, poids. Dans ces
        formulaires de contact, H2O
        Canyon s’engage à ne demander que les informations nécessaires à l’accès au service proposé et associé à un réel
        bénéfice utilisateurs.
    </p>
    <p>
        Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous disposez d’un droit d’accès
        et
        de rectification aux informations qui vous concernent. Vous pouvez accéder aux informations vous concernant en
        vous
        adressant à : h2o-canyon.fr/contact/. Vous pouvez également, pour des motifs légitimes, vous opposer au
        traitement
        des données vous concernant.
    </p>

    <h3>Propriété intellectuelle</h3>
    <p>
        La structure générale ainsi que les textes, images et tous les autres éléments composant le site sont la
        propriété
        exclusive de H2O Canyon.
    </p>
    <p>
        Toute représentation totale ou partielle de ce site par quelle que personne que ce soit, sans l’autorisation
        expresse de H2O Canyon Tri est interdite et constituerait une contrefaçon sanctionnée par les articles L. 335-2
        et
        suivants du Code de la propriété intellectuelle.
    </p>
    <p>
        Il en est de même des bases de données figurant, le cas échéant sur le site web qui sont protégées par les
        dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de
        la
        directive du 11 mars 1996 relative à la protection juridique des bases de données, et dont H2O Canyon est
        producteur.
    </p>
</div>

{% endblock %}