@media screen and (max-width: 999px) {
    /* ===================================
                    CALENDAR
    =================================== */

    .fc .fc-toolbar.fc-header-toolbar {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    h2.fc-toolbar-title {
        margin: 10px 0 !important;
    }

}

@media screen and (max-width: 767px) {

    /* ===================================
                    CAROUSEL
    =================================== */

    .fa-angle-double-left {
        padding-right: 0px;
        font-size: 2em;

    }

    .fa-angle-double-right {
        padding-left: 0px;
        font-size: 2em;

    }

    div .carousel-item>img {
        width: 100%;
        margin: auto;
    }


    .carousel {
        width: 100%;
    }

    /* ===================================
                    DROP
    =================================== */

    .drop-container-global {
        position: relative;
        top: 20px;
        left: 20px;
        width: 100%;
        height: 790px;
        box-sizing: content-box;
    }

    .drop-container {
        height: 50px;
        width: 50px;
    }

    .drop-down {
        position: relative;
        top: 0px;
    }


    .drop {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 100% 5% 100% 100%;
        transform: rotate(-45deg);
        padding: 40px;
        box-shadow: 0px 5px 11Px black;
        background-color: rgb(0 0 0 / 10%);
        box-sizing: content-box;

    }

    .drop-title-duration {
        position: relative;
        top: -38px;
        left: 22px;
        width: 90px;
    }

    .drop-title-age {
        position: relative;
        top: -54px;
        left: 7px;
        width: 100px;
    }

    .drop-title-level {
        position: relative;
        top: -52px;
        left: 26px;
        width: 90px;
    }

    .drop-title-knowledge {
        position: relative;
        top: -37px;
        left: 13px;
        width: 90px;
    }

    .drop-title-location {
        position: relative;
        top: -24px;
        left: 36px;
        width: 90px;
    }

    .drop-title-meeting-point {
        position: relative;
        top: -24px;
        left: 26px;
        width: 90px;
    }

    .drop-title-abseiling {
        position: relative;
        top: -52px;
        left: 24px;
        width: 90px;
    }

    .drop-text {
        transform: rotate(45deg);
        position: relative;
        top: -20px;
        left: 10px;
        text-align: center;
    }

    .drop-down {
        position: relative;
        top: 50px;
    }

    .duration {
        position: relative;
        top: 11px;
        left: 15px;
    }

    .level {
        position: relative;
        top: 200px;
        right: 44px;
    }

    .age {
        position: relative;
        top: 20px;
        left: 110px;
    }

    .knowledge {
        position: relative;
        top: 200px;
        left: 39px;
    }

    .abseiling {
        position: relative;
        top: 700px;
        left: -150px;
    }

    .location {
        position: relative;
        top: 430px;
        right: 336px;
    }

    .meeting-point {
        position: relative;
        top: 480px;
        left: -180px;
    }

    .drop-price-container {
        position: relative;
        left: -40px;
    }

}

@media screen and (max-width: 525px) {

    .drop-price-container {
        position: relative;
        left: -7px;
    }

    .drop-down {
        position: relative;
        top: 50px;
    }

    .duration {
        position: relative;
        top: 11px;
        left: -8px;
    }

    .level {
        position: relative;
        top: 200px;
        right: 64px;
    }

    .age {
        position: relative;
        top: 20px;
        left: 70px;
    }

    .knowledge {
        position: relative;
        top: 200px;
        left: 20px;
    }

    .abseiling {
        position: relative;
        top: 700px;
        left: -120px;
    }

    .location {
        position: relative;
        top: 430px;
        right: 260px;
    }

    .meeting-point {
        position: relative;
        top: 480px;
        left: -130px;
    }

}


@media screen and (max-width: 479px) {

    #youtube {
        color: #FE0003;
    }

    #youtube:hover {
        opacity: 0.8;
    }

    #facebook {
        color: #4c6ff5;
    }

    #facebook:hover {
        opacity: 0.8;
    }

    #tripadvisor {
        color: #34e0a1;
    }

    #tripadvisor:hover {
        opacity: 0.8;
    }

    #pinterest {
        color: #e60023;
    }

    #pinterest:hover {
        opacity: 0.8;
    }

    #instagram {
        color: transparent;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
        -webkit-background-clip: text;
        margin-right: 12px;
    }

    #instagram:hover {
        opacity: 0.8;
    }

}

@media screen and (max-width: 720px) {

    /* ===================================
                    CALENDAR
    =================================== */

    a.fc-col-header-cell-cushion {
        font-size: 0.6em;
    }

    .fc-timegrid-slot-label-cushion {
        font-size: 0.6em;
    }

}

@media screen and (min-width: 767px){
    #menuToggle{
        transform: scale(1.2);
    }
}