/* HAMBURGER */

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  right: 25px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
  size: 100px;
}

#menuToggle a {
  margin-top: 50px;
  padding-bottom: 20px;
  text-decoration: none;
  text-shadow: 1px 2px 2px #000000;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 3;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
   * Just a quick hamburger
   */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 2px 2px #000000;

  z-index: 2;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: #ffffff;

}

/*
   * But let's hide the middle one.
   */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
   * Ohyeah and the last one should go the other direction
   */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
   * Make this absolute positioned
   * at the top left of the screen
   */

/* display none en js de 2sec */
#menu {
  position: absolute;
  width: 265px;
  margin: -170px 0 0 -180px;
  padding: 50px;
  padding-top: 135px;
  box-shadow: -1px 2px 5px #000000;

  background-color: #0159AF;
  /* border-radius: 50% 0 50% 0; */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  display: block;
  margin: auto;
  width: 200px;
}

/*
   * And let's slide it in from the left
   */
#menuToggle input:checked~ul {
  transform: none;
}

hr {
  background-color: #ffffff;
  color: #ffffff;
  width: 50%;
  position: relative;
  right: 12px;
  border-bottom: 1px solid #000000;
  box-shadow: 0 20px 20px -20px #000000;
}

li .fa-home,
li .fa-water,
li .fa-users,
li .fa-info-circle,
li .fa-phone,
li .fa-share-square,
li .fa-user,
li .fa-sign-out-alt,
li .fa-sign-in-alt,
li .fa-user-plus,
li .fa-columns {
  text-shadow: 1px 2px 2px #000000;
}

li .fa-water,
li .fa-info-circle,
li .fa-sign-in-alt {
  margin-bottom: 8px;
}

li .fa-columns {
  margin-top: 20px;
}