{% extends 'base.html.twig' %}

{% block title %}Liste des canyons{% endblock %}

{% block content %}
<h1>les canyons</h1>
{% for canyon in canyons %}


<div>{{canyon.name}}</div>
<div>blablabla</div>

<a href="{{ path('canyons_single', {'id' : canyon.id} )}}" class="btn btn-primary">En savoir plus</a>


{% endfor %} 
{% endblock %}
