<h1>Demande d'informations</h1>
<!-- variable informations envoyée depuis le contact controller -->
<p>Envoyé par : {{ informations.firstName  ~ ' ' ~ informations.lastName }}</p>
<p>E-mail : {{ informations.email }}</p>
<!-- pipe raw ? -->
<p>Message : {{ informations.message }}</p>
